*.py[co]
.directory
.env
.installed.cfg
*DS_Store*
pip-selfcheck.json
pip-log.txt
debug.log
nohup.out
windows/cef/debug.log
tilde/build
tilde/_spglib.*
/data
/bin
/include
/lib
/share
/eggs
/develop-eggs
/parts
/man
