*.py[co]
.directory
debug.log
nohup.out
windows/cef/debug.log
core/build
core/_spglib.so
data
parsers/CIF
parsers/CIF/*
parsers/GAUSSIAN
parsers/GAUSSIAN/*
parsers/WIEN2K
parsers/WIEN2K/*
parsers/FHIAIMS
parsers/FHIAIMS/*
tests/anlzr.py
tests/sklearn
