numpy >= 1.9
ujson
bcrypt
nose >= 1.3.4
pypandoc
importlib; python_version < '2.7'
pg8000==1.12.3
sqlalchemy >= 1.0.12
argparse
ase==3.17.0
spglib
tornado >= 4.3.0
sockjs-tornado
websocket-client
futures
httplib2==0.11.3
quantum_esperanto
pycrystal
